Options -Indexes
RewriteEngine On

# حذف پسوند PHP
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# جلوگیری از دسترسی مستقیم به فایل‌های PHP در پوشه includes
RewriteRule ^includes/ - [F,L]

# جلوگیری از دسترسی به فایل‌های حساس
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# تنظیم هدرهای امنیتی
<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-Content-Type-Options "nosniff"
    Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>