RewriteEngine On
RewriteBase /mo/

# اگر فایل یا دایرکتوری وجود نداشت
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# همه درخواست‌ها رو به index.php هدایت کن
RewriteRule ^(.*)$ index.php [QSA,L]

# محافظت از فایل‌های حساس
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "^(config\.php|router\.php|.*\.sql)$">
    Order allow,deny
    Deny from all
</FilesMatch>