/* کانتینر اصلی */
body {
    min-height: 100vh;
    background: #f4f6f9;
}

.content-wrapper {
    margin-right: 260px;
    padding: 20px;
    transition: margin-right 0.3s ease;
    min-height: 100vh;
}

.sidebar.collapsed + .content-wrapper {
    margin-right: 70px;
}

@media (max-width: 768px) {
    .content-wrapper {
        margin-right: 0;
        padding: 10px;
    }
    
    .sidebar.collapsed + .content-wrapper {
        margin-right: 0;
    }
}